.ride-details-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin-top: 80px;
}

.ride-information {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #797979;
}

.ride-details-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ride-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 80%;
    /* margin-bottom: 20px; */
    padding: 0 40px;
    border: 2px solid #dc635b;
    border-radius: 12px;
}
.span-head {
    font-size: 24px;
    font-weight: 600;
    color: #242424;
}
.similar-text {
    margin-top: -30px;
    font-size: 12px;
}

.main-item-group-2 {
    display: flex;
    align-items: center;
    gap: 60px;
}
.item-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
.ride-select-btn {
    height: fit-content;
    padding: 10px 30px;
    background-color: #dc635b;
    border-radius: 8px;
    color: white;
    transition: all 0.2s ease-in-out;
}
.ride-select-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px #b3b3b3;
}
.extra-info {
    margin-top: -2px;
    height: 100px;
    width: 80%;
    border: 2px solid var(--theme-yellow);
    border-radius: 20px;
}
.extra-info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    height: 100%;
}

@media(max-width: 1080px) {
    .ride-details-container {
        padding-top: 30px;
    }
    .ride-information {
        font-size: 20px;
        margin-bottom: 30px;
        padding: 0 20px;
        text-align: center;
    }

    .ride-details {
        width: 90%;
        padding: 20px 10px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .main-item-group-1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-item-group-1 img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .span-head {
        font-size: 20px;
    }

    .similar-text {
        margin-top: 0;
        font-size: 10px;
    }

    .main-item-group-2 {
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .item-group {
        font-size: 12px;
    }

    .ride-select-btn {
        padding: 8px 20px;
        width: 100%;
    }
}

.show {
    display: block;
}
.hidden {
    display: none;
}