/* PREMIUM TRAVEL SOLUTIONS */
.premium-travel-solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;
  box-sizing: border-box;
  background-color: white;
}

.premium-travel-solutions-wrapper {
  width: 75%;
}

.travel-solution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.travel-solution-img {
  width: 500px;
  height: 370px;
}

.travel-sol-info-header {
  font-size: 28px;
  font-weight: 700;
  color: #191f1a;
  cursor: pointer;
}

.arrow {
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.travel-sol-info-header:hover .arrow {
  margin-left: 30px;
}

.travel-sol-info-body {
  margin-top: 20px;
  width: 400px;
  font-size: 18px;
  color: #797979;
  line-height: 30px;
}

.hidden-sol-left {
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.5s ease;
}

.hidden-sol-right {
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.5s ease;
}

.show-sol {
  transform: translateX(0);
  opacity: 1;
}

@media(max-width:1080px) {
  .travel-solution {
    margin-bottom: 40px;
    padding: 0 10px;
    flex-wrap: wrap;
  }
  .premium-travel-solutions-wrapper {
    width: 100%;
  }
  .travel-solution-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .section-header {
    padding-bottom: 10px;
  }
  .travel-sol-info {
    width: 100%;
  }
  .travel-sol-info-header {
    margin-top: 10px;
    font-size: 16px;
  }
  .travel-sol-info-body {
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
    line-height: normal;
  }
  .hidden-sol-left {
    transform: translateX(-50px);
    opacity: 0;
    transition: all 0.5s ease;
    line-height: normal;
  }
  .hidden-sol-right {
    line-height: normal;
    transform: translateX(50px);
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column-reverse;
  }
  .show-sol {
    opacity: 1;
    transform: translateX(0);
  }
}